h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
button {
  cursor: pointer;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  background-color: #8fe3f3;
  color: #333;

  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
}

body.no-scroll {
  overflow-y: hidden;
}

.section-title {
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.thank-main {
  max-width: 300px;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
}

.thank-link {
  display: flex;
  width: 80px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  cursor: pointer;
}
.thank-link:hover,
.thank-link:focus {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
}

/* Header */
.header {
  position: relative;
  background-color: #007bff;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo p {
  margin: 0;
  font-size: 1.5em;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}
.nav-links a:hover,
.nav-links a:focus {
  color: black;
}

/* Hamburger Menu for Mobile */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background-color: inherit;
  border: none;
  padding: 0;
}

.hamburger svg {
  fill: #fff;
}

.hamburger:focus,
.hamburger:hover svg {
  fill: #333;
}

/* Banner Section */
.banner {
  background-color: #8fe3f3;
  text-align: center;
  padding: 0px 50px 50px 50px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.product-description h1 {
  margin: 20px 0;
  font-size: 2em;
}

.product-description p {
  font-size: 1.2em;
}

/* About Section */

.about {
  padding: 50px;
  background-color: #e9ecef;
}

.about-list-item {
  background-color: #8fe3f3;
  border-radius: 15px;
  padding: 10px;
}

.about-list h3 {
  font-size: 1.5em;
}

.about-list p {
  margin-top: 10px;
  font-size: 1em;
}
.about-list-item {
  display: flex;
  gap: 10px;
  align-items: first baseline;
}
.about-list-item:hover svg,
.about-list-item:focus svg  {
  fill: #007bff;
}
.about-list-item:hover h3,
.about-list-item:focus h3 {
  color: #007bff;
}

/* Reviews Section */

.reviews {
  padding: 50px;
  background-color: #8fe3f3;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.review-card {
  text-align: center;
  margin-bottom: 10px;
}

.review-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.review-card h4 {
  margin-top: 10px;
  font-size: 1.2em;
}

.review-card p {
  margin-top: 10px;
  font-size: 1em;
  text-align: start;
}

/* Contact Section */

.contact {
  padding: 50px;
  background-color: #e9ecef;
  text-align: center;
}

.contact-form {
  max-width: 400px;
  margin: auto;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
}

.contact-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
.contact-form input:hover,
.contact-form input:focus {
  border: 1px #007bff solid;
}

.submit-button:hover {
  background-color: white;
  color: #007bff;
  border: 2px solid;
  border-color: #007bff;
}

/* Responsive Design */
@media (max-width: 767px) {
  .about,
  .reviews {
    flex-direction: column;
    align-items: center;
  }

  .hamburger {
    display: flex;
  }

  .navbar.active .nav-links {
    display: flex;
  }
  .header {
    display: flex;
    justify-content: center;
  }
  .nav-links {
    position: absolute;
    top: 100%;
    right: 0px;

    height: 100vh;
    width: 100vw;
    background-color: #8fe3f3;
    text-align: center;
    padding: 50px 20px;

    opacity: 0;
    transition: opacity 500ms linear;
  }
  .nav-links.is-open {
    display: block;
    opacity: 1;
  }

  .nav-links li:not(:last-child) {
    margin-bottom: 50px;
  }

  .use-close {
    display: none;
  }

  .hamburger.is-open .use-close {
    display: block;
  }

  .hamburger.is-open .use-open {
    display: none;
  }
  .logo {
    margin-right: 20px;
  }

  .about-list-item {
    text-align: left;
  }
  .about-list-item:not(:first-child) {
    margin-top: 10px;
  }

  .review-card:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .about-list-item {
    flex-basis: calc((100% - 10px * 2) / 3);
  }

  .reviews-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .review-card {
    margin-bottom: 0px;
    flex-basis: calc((100% - 10px * 2) / 3);
  }
  .thank-main{
    max-width: 600px;
  }
}

@media screen and (min-width: 600px) {
  .product-image {
    width: 70%;
    height: auto;
  }
}
@media screen and (min-width: 900px) {
  .product-image {
    width: 50%;
    height: auto;
  }
}
